<div class="shared-select-wrapper" [ngClass]="cssClass">
  <select 
    class="shared-select-input" 
    [name]="name"
    [disabled]="disabled"
    [ngModel]="value"
    (ngModelChange)="onModelChange($event)"
    (blur)="onTouch()"
  >
    <option *ngIf="placeholder" [ngValue]="null" disabled selected>{{ placeholder }}</option>
    <option *ngFor="let opt of options" [ngValue]="opt?.value !== undefined ? opt.value : opt">
      {{ opt?.label !== undefined ? opt.label : opt }}
    </option>
  </select>
  <div class="select-icon-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </div>
</div>
